In [31]:
library(tidyverse)
library(dplyr)

**Individual Project Planning**

Ann Huynh

***1) Data Description***

Players Dataset (players.csv)
- 7 columns, 196 rows, 1372 variables
- columns:
  - experience (categorical: Pro, Veteran, Regular, Amateur) -> the playing experience of the player
  - subscribe (factor: True/False) -> whether the player subscribed to the game newsletter
  - hashedEmail (character) -> the hashed email of the player
  - played_hours (numeric) -> the number of hours played by the player
  - name (character) -> the name of the player
  - gender (categorical: Female, Male) -> the gender of the player
  - Age (numeric) -> the age of the player

Sessions Dataset (sessions.csv)
- 5 columns, 1535 rows, 7675 variables
- columns:
  - hashedEmail (character) -> hashed email of the player
  - start_time (numeric) -> start date and time. date in day/month/year and time in military time
  - end_time (numeric) -> end date and time. date in day/month/year and time in military time
  - original_start_time -> start time before converting to start_time
  - original_end_time -> end time before converting to end_time

Potential Issues with data:

- In the sessions dataset, the start_time and end_time columns contain more than one value. The columns have
  both date and time. This may need to be modified so that date and time are separate.
- original_start_time and original_end_time are not easily interpretable numbers so they must be converted or
  different columns should be used (like start_time or end_time)


Summary Statistics: 
For players dataset, 
- The average number of hours played is 5.85 hours
- The average age is 21.14 years

The code below computes these values.

In [49]:
players <- read_csv("individual_planning_project/players.csv")

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [50]:
avg_hours <- players |> 
    summarise(avg_hours = mean(played_hours))

avg_hours

  avg_hours
1 5.845918

In [51]:
avg_age <- players |> 
    summarise(avg_age = mean(Age, na.rm = TRUE))
    

avg_age

  avg_age
1 21.13918

***2) Questions***

***3) Exploratory Data Analysis and Visualization***

***4) Methods and Plans***